#map-page-wrapper {
}

#map-control-panel {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  z-index: 1000;

  @include media-breakpoint-down(sm) {
    flex: 5 0 auto;
    display: none;
  }

  @include media-breakpoint-up(md) {
    flex: 0 0 360px;
    display: block !important;
  }

  overflow-y: auto;
}

#map-wrapper {
  position: relative;

  @include media-breakpoint-down(sm) {
    flex: 1 0 100px;
  }

  @include media-breakpoint-up(md) {
    flex: 1 1 auto;
  }
}

#bottom-button-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 100000;
}

#map {
  z-index: 0;
}

#end_airport_id-form-group {
  display: none;
}

.fa-number {
  font-style: normal;
}