/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/images/vendor
/storage/*.key
/storage/uploads/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
_ide_helper.php
/storage/debugbar